Source: vershunt
Section: devel
Priority: extra
Maintainer: Nick Griffiths <nick@mediasp.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Vcs-Git: git://git.playlouder.com/var/cache/git/msp_release.git

Package: vershunt
Architecture: all
Depends: ruby, git-core
Replaces: msp-release
Description: Repeatable build system tool
 Maintain versioning information in a consistent way, then build debian packages
 consistently.
