#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf build

override_dh_prep:
	dh_prep
	mkdir build
	bundle install --without development --path build/vendor
	mkdir build/flat
	ruby bin/collapse_gems.rb build/vendor/ruby/1.8/gems build/flat
#	 prevent rubygems from being required - bit of a hack...
	touch build/flat/rubygems.rb